<div class="container panel">
  <h2>Modifier mon compte</h2>
  
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
  
    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
  
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      
      <div class="row">
        <%= f.input :firstname, wrapper_html: {class:"col-sm-6"} %>
        <%= f.input :lastname, wrapper_html: {class:"col-sm-6"} %>
      </div>
      <%= f.input :username %>
      <%= f.input :birthdate, input_html: {type:"date"}%>
      <div class="row">
        <%= f.input :current_password, required: true, wrapper_html: {class:"col-sm-4"} %>
        <%= f.input :password, autocomplete: "off", hint: "laissez vide si vous ne voulez pas le changer", required: false, wrapper_html: {class:"col-sm-4"} %>
        <%= f.input :password_confirmation, required: false, wrapper_html: {class:"col-sm-4"} %>
      </div>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  <hr>
  <h2>Supprimer mon compte</h2>
  
  <p><%= link_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sûr?" }, method: :delete, class:"btn btn-danger"%></p>
  <br />
</div>