<div class="container panel">
    <h1>Rechercher</h1>
    
    <%= search_form_for @q do |f| %>

      <%= f.label :title_cont %>
      <%= f.search_field :title_cont %>

      <%= f.label :jours_name_start %>
      <%= f.search_field :jours_name_start %>
    
      <%= f.submit %>
    <% end %>
    
</div>