<% if notice %>
    <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>
<div class="container panel">
  
  <p>
    <strong>Prenom :</strong>
    <%= @user.firstname %>
  </p>
  
  <p>
    <strong>Nom :</strong>
    <%= @user.lastname %>
  </p>
  
  <p>
    <strong>Nom d'utilisateur :</strong>
    <%= @user.username %>
  </p>
  
  <p>
    <strong>Date de naissance :</strong>
    <%= @user.birthdate %>
  </p>

  <p>
    <strong>e-Mail :</strong>
    <%= @user.email %>
  </p>
  
  <%= link_to 'Edit', edit_user_registration_path , {:class => "btn btn-info dropdown-toggle"}  %>
</div>