<%= simple_form_for(@jour) do |f| %>
  <% if @jour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jour.errors.count, "error") %> prohibited this jour from being saved:</h2>

      <ul>
      <% @jour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
  </div>
  
  <div class="field">
    <%= f.label "Nom" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </div>
  
  <%= f.label :avatar %><br>
  <%= image_tag(@jour.avatar.url(:small)) %>
  <%= f.file_field :avatar %>
  
  <%= f.input :travel_log_id, as: :hidden %>
  
  <br/>
  <br/>
  
  <div class="form-actions">
    <center>
    <%= f.button :submit %>
    </center>
  </div>
<% end %>
