<%= simple_form_for(@jour) do |f| %>
  <% if @jour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jour.errors.count, "error") %> prohibited this jour from being saved:</h2>

      <ul>
      <% @jour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
  </div>
  
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :date, input_html: {type:"date"} %>
  
  <%= f.label :avatar %><br>
  <% if @jour.new_record? %>
  <% else %>
  <%= image_tag(@jour.avatar.url(:small)) %>
  <% end %>
  <%= f.file_field :avatar %>
  
  <%= f.input :travel_log_id, as: :hidden %>
  
  <br/>
  <br/>
  
  <div class="form-actions">
    <center>
    <%= f.button :submit %>
    </center>
  </div>
<% end %>
