<%= simple_form_for @travel_log do |f| %>
  <% if @travel_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel_log.errors.count, "error") %> prohibited this travel_log from being saved:</h2>

      <ul>
      <% @travel_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :user_id, input_html: { class:"hide", value:current_user.id } %><p><%= current_user %></p>
  
  <%= f.label :avatar %><br>
<<<<<<< HEAD
  <% if @travel_log.new_record? %>
  <% else %>
    <%= image_tag(@travel_log.avatar.url(:small)) %>
  <% end %>
=======
  
  <%= image_tag(@travel_log.avatar.url(:small)) %>
>>>>>>> 2bddea61c7ec2412739efb56f1a4cf7d3e0d60f0
  <%= f.file_field :avatar %>
  <br/>
  <br/>
  
  <div class="form-actions">
    <%= f.submit %>
  </div>
  
  <br/>
<% end %>
