<p id="notice"><%= notice %></p>

<div class="row">
  <h1 class="panel col-xs-6 col-md-2 col-xs-offset-3 col-md-offset-5"><center>Mes carnets</center></h1>
</div>

<div class='container'>
  <% @travel_logs.each_slice(2) do |travel_log| %>
  <div class="row">
    <% travel_log.each do |travel| %>
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><%= image_tag(travel.avatar.url(:small)) %></center>
        </div>
        <div class="panel-body">
<<<<<<< HEAD
          <h3><%= travel_log.title %></h3>
          <p><%= travel_log.description %></p>
          <p><%= link_to 'Plus...', travel_log %></p>
          <p><%= link_to 'Editer', edit_travel_log_path(travel_log) %></p>
          <p><%= link_to 'Supprimer', travel_log, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimmer ?' } %></p>
=======
          <h3><%= travel.title %></h3>
          <p><%= travel.description %></p>
          <p><%= link_to 'Plus...', travel %></p>
          <p><%= link_to 'Editer', edit_travel_log_path(travel) %></p>
          <p><%= link_to 'Supprimmer', travel, method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimmer ?' } %></p>
>>>>>>> 3f1349560e2be31d4bd140d4261c37fc1ba0d199
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<center>
  <%= link_to new_travel_log_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <% end %>
</center>
<br>