<% if notice %>
    <div class="alert alert-success" role="alert"><p id="notice"><%= notice %></p></div>
<% end %>
<div class="row">
  <h1 class="panel col-xs-6 col-md-2 col-xs-offset-3 col-md-offset-5"><center>Mes carnets</center></h1>
</div>

<div class='container'>
  <% @travel_logs.each_slice(2) do |travel_log| %>
  <div class="row">
    <% travel_log.each do |travel| %>
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><%= image_tag(travel.avatar.url(:medium)) %></center>
        </div>
        <div class="panel-body">
          <h3><%= travel.title %></h3>
          <p><%= travel.description %></p>
          <p><%= link_to 'Plus...', travel, {:class => "btn btn-primary dropdown-toggle"} %></p>
          <p><%= link_to 'Editer', edit_travel_log_path(travel), {:class => "btn btn-info dropdown-toggle"} %></p>
          <p><%= link_to 'Supprimer', travel, method: :delete, data: { confirm: 'Etes vous sûr de vouloir supprimer ?' }  %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<center>
  <%= link_to new_travel_log_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <% end %>
</center>
<br>