<p id="notice"><%= notice %></p>

<center><h1>Mes carnets</h1></center>

<center>
  <%= link_to new_travel_log_path, class: 'btn btn-success' do %>
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  <% end %>
</center>

<div class='container'>
  <div class="row">
    <% @travel_logs.each do |travel_log| %>
    <div class="col-sm-12 col-md-6">
      <div class="thumbnail">
        <%= image_tag(travel_log.avatar.url(:small)) %>
        <div class="caption">
          <h3><%= travel_log.title %></h3>
          <p><%= travel_log.description %></p>
          <p><%= link_to 'Plus...', travel_log %></p>
          <p><%= link_to 'Edit', edit_travel_log_path(travel_log) %></p>
          <p><%= link_to 'Destroy', travel_log, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
     <% end %>
  </div>
</div>



<br>
