<div class="container panel">
  <p id="notice"><%= notice %></p>
  
  <center>
    <%= image_tag(@travel_log.avatar.url(:small)) %>
  </center>
  
  <h2>
    <%= @travel_log.title %>
  </h2>
  
  <blockquote>
      <footer><%= @travel_log.user %></footer>
  </blockquote>
  
  <p>
    <%= @travel_log.description %>
  </p>
  
  <div class='container'>
  <% @jours.each do |jour| %>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <center><%= image_tag(jour.avatar_file_name(:small)) %></center>
        </div>
        <div class="panel-body">
          <h3><%= jour.name %></h3>
           <p><%= jour.date %></p>
          <p><%= jour.description %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  </div>
  
  <hr>
  
  <%= link_to 'Edit', edit_travel_log_path(@travel_log) %>
</div>